<div class="container">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Resultado</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let item of items">
        <td>{{ item.data }}</td>
        <td>{{ item.pipeName }}</td>
        <td>{{ item.pipe.transform(item.data) }}</td>
      </tr> -->

      <tr>
        <th scope="row">{{name}}</th>
        <td>uppercase</td>
        <td>{{ name | uppercase }}</td>
      </tr>
      <tr>
        <th scope="row">{{name}}</th>
        <td>lowercase</td>
        <td>{{ name | lowercase }}</td>
      </tr>
      <tr>
        <th scope="row">{{name}}</th>
        <td>slice: 5</td>
        <td>{{ name | slice: 5 }}</td>
      </tr>
      <tr>
        <th scope="row">{{name}}</th>
        <td>slice: 0:4</td>
        <td>{{ name | slice: 0:4 }}</td>
      </tr>
      <tr>
        <th scope="row">{{array}}</th>
        <td>slice: 1:5</td>
        <td>{{ array | slice: 1:5 }}</td>
      </tr>
      <tr>
        <th scope="row">{{array}}</th>
        <td>
          <pre>{{sliceHtml}}</pre>
        </td>
        <td>
          <pre><span *ngFor="let item of array | slice:5:9"> {{item}}</span></pre>
        </td>
      </tr>
      <tr>
        <th scope="row">{{number}}</th>
        <td>number</td>
        <td>{{ number | number }}</td>
      </tr>
      <tr>
        <th scope="row">{{number}}</th>
        <td>number</td>
        <td>{{ number | number: "3.0-0" }}</td>
      </tr>
      <tr>
        <th scope="row">{{number}}</th>
        <td>number</td>
        <td>{{ number | number: "1.0-2" }}</td>
      </tr>
      <tr>
        <th scope="row">{{number1}}</th>
        <td>percent</td>
        <td>{{ number1 | percent }}</td>
      </tr>
      <tr>
        <th scope="row">{{number1}}</th>
        <td>percent</td>
        <td>{{ number1 | percent: "2.2-2" }}</td>
      </tr>
      <tr>
        <th scope="row">{{number2}}</th>
        <td>currency</td>
        <td>{{ number2 | currency: "EUR":'symbol':'1.1-2':'es_ES' }}</td>
      </tr>
      <tr>
        <th scope="row">{{number2}}</th>
        <td>currency</td>
        <td>{{ number2 | currency: 'EUR':'code':'1.1-2':'es_ES' }}</td>
      </tr>
      <tr>
        <th scope="row">
          <pre>
<![CDATA[info = {
  nombre: 'Juan',
  clave: 'jkg',
  edad: 26,
  direccion: {
    calle: 'Principal',
    numero: 2,
  }
}]]>
          </pre>
        </th>
        <td>json</td>
        <td>{{ info | json }}</td>
      </tr>
      <tr>
        <th scope="row">{{promise}}</th>
        <td>async</td>
        <td>...{{ promise | async }}</td>
      </tr>
      <tr>
        <th scope="row">administrador</th>
        <td><button class="btn btn-outline-primary" (click)="onClick()">Mostrar / Ocultar</button></td>
        <td>{{ ofuscador }}</td>
      </tr>
    </tbody>
  </table>
</div>